<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uno Multiplayer Game</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>

<body>
    <div id="game_lobby">
        <h1>Welcome to Multiplayer Uno Game</h1>
        <img src="./images/unocards.avif" alt="Image of Uno Cards" id="cards_image"
            title="https://assets.nintendo.com/image/upload/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000034088/ac97854c142c719f8ae843106d43511db61822eb9bdb78e2c1a98ea0ae3b6c08" />
    </div>
</body>

</html>