<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FastBootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <!-- lobby style -->
    <link rel="stylesheet" href="/css/lobby.css" type="text/css" />
    <title>
        <%= page_name %>
    </title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <!-- <img src="/images/bootstrap-logo.svg" width="36" alt="Logo" /> -->
                    Uno Reverse
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="avatar" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- <img src="./public/images/back-image4.jpg" /> -->
                            <span class="avatar-badge border bg-red-300 p-1">RA</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Notifications</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of Nav bar -->

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="fill-tab-0" data-bs-toggle="tab" href="#fill-tabpanel-0" role="tab"
                    aria-controls="fill-tabpanel-0" aria-selected="true">Uno Matches</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="fill-tab-1" data-bs-toggle="tab" href="#fill-tabpanel-1" role="tab"
                    aria-controls="fill-tabpanel-1" aria-selected="false">Create Game</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="fill-tab-2" data-bs-toggle="tab" href="#fill-tabpanel-2" role="tab"
                    aria-controls="fill-tabpanel-2" aria-selected="false">Game Rules</a>
            </li>
        </ul>
        <div class="tab-content pt-5" id="tab-content">
            <!-- Beginning of Uno on going matches -->
            <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>Players</th>
                                <th>Current players</th>
                                <th>User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>
                                    <span class="avatar"><i class="fas fa-user"></i></span>
                                    <a href="#">George Washington</a>
                                </td>
                                <td>2</td>
                                <td>2/4</td>
                                <td>0</td>
                                <td>
                                    <div class="joinbtn">
                                        <button class="btn btn-primary" type="button"
                                            aria-expanded="false">Join</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="avatar"><i class="fas fa-user"></i></span>
                                    <a href="#">John Adams</a>
                                </td>
                                <td>1</td>
                                <td>1/2</td>
                                <td>1</td>
                                <td>
                                    <div class="joinbtn">
                                        <button class="btn btn-primary" type="button"
                                            aria-expanded="false">Join</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="avatar"><i class="fas fa-user"></i></span>
                                    <a href="#">Thomas Jefferson</a>
                                </td>
                                <td>3</td>
                                <td>2/2</td>
                                <td>2</td>
                                <td>
                                    <div class="joinbtn">
                                        <button class="btn btn-primary" type="button"
                                            aria-expanded="false">Join</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of Uno on going matches -->

            <!-- Beginning of create game -->
            <div class="tab-pane" id="fill-tabpanel-1" role="tabpanel" aria-labelledby="fill-tab-1">
                <h3 class="game-setting-heading text-center">Game Settings</h3>
                <div class="container">
                    <form id="form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="gamename" id="gamename"
                                placeholder="name@example.com" />
                            <label for="floatingInput">Game Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="gamepassword" id="gamepassword"
                                placeholder="password" />
                            <label for="floatingInput">Game Password</label>
                        </div>

                        <div id="players" class="mb-3">
                            <select class="form-select" name="players" aria-label="Default select example">
                                <option selected>Max number of players</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <div class="btns">
                            <span>Private?</span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="yesradio"
                                    value="option1" />
                                <label class="form-check-label" for="yesradio">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="noradio"
                                    value="option2" />
                                <label class="form-check-label" for="noradio">No</label>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Create Match</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end of create game -->

            <!-- beginning of game rules -->
            <div class="tab-pane" id="fill-tabpanel-2" role="tabpanel" aria-labelledby="fill-tab-2">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Game Rule #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Each player is given 7 cards
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Game Rule #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Random player chosen to go first
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Game Rule #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Player must put card based on the card number or color
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Game Rule #4
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Draw card if no playable card
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Game Rule #5
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                20 seconds per turn
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Game Rule #6
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Press uno button when one card left
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Game Rule #7
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                First player to play all their cards wins
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of game rules -->
        </div>
    </div>
    <!-- FastBootstrap JavaScript Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>